body{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(233, 2, 41));
}

.container{
  text-align: center;
  margin-top:23px
}

table{
  margin: auto;
}

input{
  border-radius: 21px;
  border: 5px solid #3d012b;
  font-size:34px;
  height: 65px;
  width: 456px;
}

button{
  border-radius: 20px;
  font-size: 40px;
  color: white;
  background: #1e013f;
  width: 102px;
  height: 90px;
  margin: 6px;
}
.cls{
  background-color: red;
  font-size: 30px;
  height: 2em;
  width: 4em;
}
.calculator{ 
  border: 4px solid #740a44;
  background-color: yellow;
  padding: 23px;
  border-radius: 53px;
  display: inline-block;
  
}

h1{
  font-size: 38px;
  font-family: 'Courier New', Courier, monospace;
}
